{% extends "base.html" %}
{% block content %}
      <div class="ms-hero ms-hero-material">
        <span class="ms-hero-bg"></span>
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-7">
              <div class="ms-hero-material-text-container">
                <header class="ms-hero-material-title animated slideInLeft animation-delay-5">
                  <h1 class="animated fadeInLeft animation-delay-15">{{ company_slogan }}</h1>
                </header>

                <ul class="ms-hero-material-list">
                  <li class="">
                    <div class="ms-list-icon animated zoomInUp animation-delay-20">
                      <span class="ms-icon ms-icon-circle ms-icon-xlg color-royal shadow-3dp"><i class="zmdi zmdi-puzzle-piece"></i></span>
                    </div>
                    <div class="ms-list-text animated fadeInRight animation-delay-21">We've seen the fraud, data-loss, theft, missed appointments, unmanaged networks and the downtime that affect business operations.</div>
                  </li>
                  <li class="">
                    <div class="ms-list-icon animated zoomInUp animation-delay-24">
                      <span class="ms-icon ms-icon-circle ms-icon-xlg color-danger shadow-3dp"><i class="zmdi zmdi-favorite"></i></span>
                    </div>
                    <div class="ms-list-text animated fadeInRight animation-delay-25">We don't lock you in to long contracts in order to keep your business.  We believe our open, honest, straight-forward communication and our competent staff will keep you happy.</div>
                  </li>
                  <li class="">
                    <div class="ms-list-icon animated zoomInUp animation-delay-22">
                      <span class="ms-icon ms-icon-circle ms-icon-xlg color-warning shadow-3dp"><i class="zmdi zmdi-coffee"></i></span>
                    </div>
                    <div class="ms-list-text animated fadeInRight animation-delay-23">We are a group of IT professionals who have worked for good and bad managed service providers.  We started this company because we know we can do better, and we are confident you will be amazed by our service and our solutions.</div>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-xl-6 col-lg-5">
              <div class="ms-hero-img animated zoomInUp animation-delay-30">
                <img src="/assets/img/demo/mock-imac-material2.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div> <!-- container -->
      </div> <!-- ms-hero ms-hero-black -->


      <div class="container mt-4">
        <h2 class="text-center color-primary mb-2 wow fadeInDown animation-delay-4">We solve problems!</h2>
        <p class="lead text-center aco wow fadeInDown animation-delay-5 mw-800 center-block mb-4"> Many of us have been involved in IT for decades.  We are systems and network engineers, systems administrators, application and web developers, helpdesk staff and customer service representatives.  We are equipped and empowered to solve your problems.  See some of the solutions we have implemented below.</p>
        <div class="row">
          <div class="ms-feature col-xl-4 col-lg-7 col-md-7 card wow flipInX animation-delay-4">
          </div>
          <div class="ms-feature col-xl-4 col-lg-7 col-md-7 card wow flipInX animation-delay-8">
            <div class="text-center card-body">
              <span class="ms-icon ms-icon-circle ms-icon-xxlg color-warning"><i class="zmdi zmdi-bug"></i></span>
              <h4 class="color-warning">Cryptolocker Challenge</h4>
              <p class="">A local business was getting hammered by the Cryptolocker virus.  We stopped it and all their data was safe.</p>
              <a href="/story/cryptolocker/" class="btn btn-warning btn-raised">Read More</a>
            </div>
          </div>
          <div class="ms-feature col-xl-4 col-lg-7 col-md-7 card wow flipInX animation-delay-12">
          </div>
        </div>
      </div>
      <!-- container -->
      <div class="wrap wrap-mountain mt-6">
        <div class="container">
          <h2 class="text-center text-light mb-6 wow fadeInDown animation-delay-5">We work with <strong>your</strong> team!</h2>
          <div class="row">
            <div class="col-lg-6 order-lg-2 mb-4  center-block">
              <img src="/assets/img/demo/mock.png" alt="" class="img-fluid center-block wow zoomIn animation-delay-12 ">
            </div>
            <div class="col-lg-6 order-lg-1 pr-6">
              <p class="wow fadeInLeft animation-delay-6">We are flexible enough to work in a wide variety of environments.</p>
              <p class="wow fadeInLeft animation-delay-7">Are you a 'mom and pop' shop that occasionally needs a little help?  We're only a phone call away.</p>
              <p class="wow fadeInLeft animation-delay-8">Are you a business that needs part-time IT staff or full-time IT staff?  We're all about this.</p>
              <p class="wow fadeInLeft animation-delay-9">Are you an enterprise that needs to streamline your processes and solve a mountain of problems?  We got this.  We do this.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container mt-6">
        <h1 class="font-light">We've got it <strong>all</strong> covered</h1>
        <p class="lead color-primary">Switches, routers, servers, phones, desktops, Windows, Mac, Linux, Unix, BSD--you name it, we know it.</p>
        <div class="panel panel-light panel-flat">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs nav-tabs-transparent indicator-primary nav-tabs-full nav-tabs-5" role="tablist">
            <li class="nav-item wow fadeInDown animation-delay-6" role="presentation"><a href="#windows" aria-controls="windows" role="tab" data-toggle="tab" class="nav-link withoutripple active"><i class="zmdi zmdi-windows"></i> <span class="d-none d-md-inline">Windows</span></a></li>
            <li class="nav-item wow fadeInDown animation-delay-4" role="presentation"><a href="#macos" aria-controls="macos" role="tab" data-toggle="tab" class="nav-link withoutripple"><i class="zmdi zmdi-apple"></i> <span class="d-none d-md-inline">MacOS</span></a></li>
            <li class="nav-item wow fadeInDown animation-delay-2" role="presentation"><a href="#linux" aria-controls="linux" role="tab" data-toggle="tab" class="nav-link withoutripple"><i class="fa fa-linux"></i> <span class="d-none d-md-inline">Linux</span></a></li>
            <li class="nav-item wow fadeInDown animation-delay-4" role="presentation"><a href="#android" aria-controls="android" role="tab" data-toggle="tab" class="nav-link withoutripple"><i class="zmdi zmdi-android"></i> <span class="d-none d-md-inline">Android</span></a></li>
            <li class="nav-item wow fadeInDown animation-delay-6" role="presentation"><a href="#ios" aria-controls="ios" role="tab" data-toggle="tab" class="nav-link withoutripple"><i class="zmdi zmdi-smartphone-iphone"></i> <span class="d-none d-md-inline">IOS</span></a></li>
          </ul>
          <div class="panel-body">
            <!-- Tab panes -->
            <div class="tab-content mt-4">
              <div role="tabpanel" class="tab-pane active show fade" id="windows">
                <div class="row">
                  <div class="col-lg-6 order-lg-2">
                    <img src="/images/windowsdesktop.png" alt="" class="img-fluid wow animated zoomIn animation-delay-8">
                  </div>
                  <div class="col-lg-6 order-lg-1">
                    <h3 class="text-normal animated fadeInUp animation-delay-4">Windows</h3>
                    <p class="lead lead-md animated fadeInUp animation-delay-6">Windows--the work-horse in the enterprise.  Everybody runs it.</p>
                    <p class="lead lead-md animated fadeInUp animation-delay-8">We know the strengths and weaknesses of Windows and we can help you with best-practices for security, encryption, and data-loss prevention while supporting a wide variety of desktop applications.</p>
                    <p class="lead lead-md animated fadeInUp animation-delay-10">Thanks to automation and open source tools we can make your workstation 100% disposable.  If it crashes and burns, we can plug in a new workstation and have you back up and running in minutes.</p>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="macos">
                <div class="row">
                  <div class="col-lg-6">
                    <img src="/assets/img/demo/mock-imac-material2.png" alt="" class="img-fluid wow animated zoomIn animation-delay-8">
                  </div>
                  <div class="col-lg-6">
                    <h3 class="text-normal wow animated fadeInUp animation-delay-4">MacOS</h3>
                    <p class="lead lead-md  wow animated fadeInUp animation-delay-6">It seems like every business has at least one Mac hiding away somewhere.</p>
                    <p class="lead lead-md wow animated fadeInUp animation-delay-7">We have staff that know how to make your Mac talk with the rest of your network smoothly and seamlessly.</p>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="linux">
                <div class="row">
                  <div class="col-lg-6 order-lg-2">
                    <img src="/images/linuxdesktop.png" alt="" class="img-fluid animated zoomIn animation-delay-8">
                  </div>
                  <div class="col-lg-6 order-lg-1">
                    <h3 class="text-normal animated fadeInUp animation-delay-4">Linux</h3>
                    <p class="lead lead-md animated fadeInUp animation-delay-6">Linux is rapidly becoming the number one platform in the IT world. From the cloud to infrastructure, new solutions are being developed every day that leverage Linux.</p>
                    <p class="lead lead-md animated fadeInUp animation-delay-8">Thankfully we have already been using Linux for decades, and we're happy to help.</p>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="android">
                <div class="row">
                  <div class="col-lg-6">
                    <img src="/images/pixelPro.png" alt="" class="img-fluid animated zoomIn animation-delay-8">
                  </div>
                  <div class="col-lg-6">
                    <h3 class="text-normal animated fadeInUp animation-delay-4">Android</h3>
                    <p class="lead lead-md  animated fadeInUp animation-delay-6">Android is everywhere--whether it's a corporate phone you provision for employees or a "Bring Your Own Device", we can help with the confusing array of potential security problems.</p>
                    <p class="lead lead-md animated fadeInUp animation-delay-8">Do you need a mobile work-force?  We have the skills to solve your mobile problems.</p>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="ios">
                <div class="row">
                  <div class="col-lg-6 order-lg-2">
                    <img src="/images/iphone7.png" alt="" class="img-fluid animated zoomIn animation-delay-8">
                  </div>
                  <div class="col-lg-6 order-lg-1">
                    <h3 class="text-normal animated fadeInUp animation-delay-4">iOS</h3>
                    <p class="lead lead-md animated fadeInUp animation-delay-6">Maybe you want to provide iPhones to staff?  Maybe staff are bringing them from home?</p>
                    <p class="lead lead-md animated fadeInUp animation-delay-7">We have the know-how to provision, update, and secure iPhones in a corporate environment.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- panel -->
      </div> <!-- container -->
{% endblock %}
