{% extends "base.html" %}
{% block content %}
<div class="ms-hero-page-override ms-hero-img-city ms-hero-bg-primary">
    <div class="container">
        <div class="text-center">
          <span class="ms-logo ms-logo-lg ms-logo-white center-block mb-2 mt-2 animated zoomInDown animation-delay-5"><i class="fa fa-mobile-phone"></i></span>
            <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Mobile<span>Madness</span></h1>
            <p class="lead lead-lg color-white text-center center-block mt-2 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">Businesses are having trouble keeping remote devices and remote employees connected, and they are wasting <span class="color-warning">thousands</span> of dollars on inadequate solutions.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="card card-hero animated slideInUp animation-delay-8 mb-6">
        <div class="card-body">
            <h2 class="color-primary">The Problem</h2>
            <div class="row">
                <div class="col-lg-6 text-justify">
                  <p class="dropcaps text-justify">In 2009 we saw the beginning push in healthcare and government to 'go mobile'.  Sales drones were frothing at the mouth to sell their inventory and making wild promises that they would eventually be able to fulfil 'some day' or in 'the next version'.  A customer called us after having been sold a solution to allow mobile devices in government vehicles to communicate in a secure manner with their main office.  They paid for the devices, rotated vehicles out of service and had the boxes installed, and finally the service was 'turned up' and they were told the project was complete.</p>
                </div>
                <div class="col-lg-6 text-justify">
                  <p class="text-justify">...except the project wasn't complete.  No one knew how to use the devices.  No one knew why their laptops couldn't connect.  And the sales drones suddenly stopped returning calls.</p>
                  <p class="text-justify">The devices were basically a router with a cell card on one side, and a wireless access point on another.  Each vehicle had a different wireless name and no one knew what the password was.</p>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h2 class="color-primary">The Solution</h2>
            <div class="row">
                <div class="col-lg-6 text-justify">
                  <p class="text-justify">Story coming soon...</p>
                </div>
                <div class="col-lg-6 text-justify">
                  <p class="text-justify"></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

